<div style="position:relative">
    

    <a href="@Url.Action("abrigos")">
        <img src="/Content/images/menu/AbrigosHombres2Derecha.gif" alt="Abrigos" class="botoneraRight botonera">
    </a>

    @*<a href="@Url.Action("Camperas")" >
        <img src="/Content/images/menu/BuzoCamperanenemedio.jpg" alt="" class="botonera">
    </a>*@
    
    <a href="@Url.Action("camperasbuzos")">
        <img src="/Content/images/menu/BuzoCamperanenemedio.jpg" alt="" class="botonera">
    </a>
    <a href="@Url.Action("pantalones")">
        <img src="/Content/images/menu/pantalonesHombreMedio.jpg" alt="" class="botonera">
    </a>

    <a href="@Url.Action("remerascamisas")" >
        <img src="/Content/images/menu/remeraCamisasIzq.gif" alt="" class="botonera">
    </a>
    
</div>