<div style="position:relative">

    <a href="@Url.Action("pantalones")">
        <img src="/Content/images/menu/PantalonesDerecha.gif" alt="Pantalones" class="botoneraRight botonera">
    </a>

    <a href="@Url.Action("camperas")">
        <img src="/Content/images/menu/CamperasBuzomedio.jpg" alt="Camperas, Buzos y Chalecos" class="botonera">
    </a>

    @*<a href="@Url.Action("camisas")">
        <img src="/Content/images/menu/camisaHombreSolo.jpg" alt="Camisas" class="botonera">
    </a>*@


    @*<a href="@Url.Action("camperasbuzos")">
        <img src="/Content/images/menu/camperascamisas.jpg" alt="Camperas" class="botoneraLarge botonera">
    </a>*@

    <a href="@Url.Action("remerascamisas")">
        <img src="/Content/images/menu/remeraschombas.gif" alt="remeras y chombas" class="botonera">
    </a>

</div>