<div style="position:relative">

    <a href="@Url.Action("pantalonesshorts")">
        <img src="/Content/images/menu/pantalonesshortsdebanoder.gif" alt="Pantalones y shorts de baño" class="botoneraRight botoneraLarge botonera">
    </a>

    <a href="@Url.Action("camperas")">
        <img src="/Content/images/menu/camperas.jpg" alt="Camperas" class="botonera">
    </a>

    <a href="@Url.Action("camisas")">
        <img src="/Content/images/menu/camisaHombreSolo.jpg" alt="Camisas" class="botonera">
    </a>


    @*<a href="@Url.Action("camperasbuzos")">
        <img src="/Content/images/menu/camperascamisas.jpg" alt="Camperas" class="botoneraLarge botonera">
    </a>*@

    <a href="@Url.Action("remeraschombas")">
        <img src="/Content/images/menu/remeraschombas.gif" alt="remeras y chombas" class="botonera">
    </a>

</div>