<div style="position:relative">
    @*//1 - Remeras - Musculosas - Camisas - Chombas
    //2 - Bermudas - Shorts baño - Jardinero
    //3 - Campera rustica - Rompeviento*@
    <a href="@Url.Action("pantalones")">
        <img src="/Content/images/menu/BermudasShortsDerecha.gif" alt="Bermudas y Shorts" class="botoneraRight botonera">
    </a>

    <a href="@Url.Action("camperas")">
        <img src="/Content/images/menu/CamperasBuzomedio.jpg" alt="Camperas y Rompevientos" class="botonera">
    </a>

    @*<a href="@Url.Action("camisas")">
        <img src="/Content/images/menu/camisaHombreSolo.jpg" alt="Camisas" class="botonera">
    </a>*@


    @*<a href="@Url.Action("camperasbuzos")">
        <img src="/Content/images/menu/camperascamisas.jpg" alt="Camperas" class="botoneraLarge botonera">
    </a>*@

    <a href="@Url.Action("remerascamisas")">
        <img src="/Content/images/menu/remeraschombas.gif" alt="remeras, camisas y chombas" class="botonera">
    </a>

</div>