<div style="position:relative">

    <a href="@Url.Action("camperas")" >
        <img src="/Content/images/menu/CamperasMujerDerecha.gif" alt="Camperas" class="botoneraRight botonera">
    </a>

    <a href="@Url.Action("vestidoscamisolas")" >
        <img src="/Content/images/menu/vestidosCamisolasMedio.jpg" alt="Vestidos y Camisolas" class="botonera">
    </a>
    <a href="@Url.Action("pantalonescalzas")" >
        <img src="/Content/images/menu/pantalonesCalza.jpg" alt="Pantalones y Calzas" class="botonera">
    </a>
    <a href="@Url.Action("abrigos")">
        <img src="/Content/images/menu/abrigosnenaMedio.jpg" alt="Abrigos" class="botonera">
    </a>

    <a href="@Url.Action("RemerasBuzos")" >
        <img src="/Content/images/menu/remerasbuzos.gif" alt="Remeras y Buzos" class="botonera">
    </a>

</div>