<div style="position:relative">

    <a href="@Url.Action("camperas")" >
        <img src="/Content/images/menu/CamperasMujerDerecha.gif" alt="Camperas, sacos y chalecos" class="botoneraRight botonera">
    </a>

    <a href="@Url.Action("vestidos")" >
        <img src="/Content/images/menu/vestidos.jpg" alt="vestidos" class="botonera">
    </a>
    <a href="@Url.Action("pantalonesshorts")" >
        <img src="/Content/images/menu/pantalonesCalzaMujerMedio.jpg" alt="Pantalones y calzas" class="botonera">
    </a>
    <a href="@Url.Action("calzasjardineros")">
        <img src="/Content/images/menu/CalzaJardineroMujerMedio.jpg" alt="Camisas" class="botonera">
    </a>

    @*<img src="~/Content/images/menu/pantalonesCalzaMujerMedio.jpg" />*@
@*    <a href="@Url.Action("abrigos")" >
        <img src="/Content/images/menu/abrigos.gif" alt="Abrigos con Wata" class="botonera">
    </a>*@

    <a href="@Url.Action("Remerasremerones")" >
        <img src="/Content/images/menu/remerasRemeronesMujerIzq.gif" alt="Remeras y remerones" class="botonera">
    </a>

</div>