<div style="position:relative">

    <a href="@Url.Action("abrigos")" >
        <img src="/Content/images/menu/AbrigosDerecha.gif" alt="" class="botoneraRight botonera">
    </a>

    <a href="@Url.Action("vestidosjumpers")" >
        <img src="/Content/images/menu/vestidosJumpersMedio.jpg" alt="" class="botonera">
    </a>
    <a href="@Url.Action("pantalonescalzas")" >
        <img src="/Content/images/menu/pantalonescalzas.jpg" alt="" class="botonera">
    </a>
    <a href="@Url.Action("buzoscamperas")">
        <img src="/Content/images/menu/CamperasBuzomedio.jpg" alt="" class="botonera">
    </a>
    
@*    <a href="@Url.Action("abrigos")" >
        <img src="/Content/images/menu/abrigos.gif" alt="Abrigos con Wata" class="botonera">
    </a>*@

    <a href="@Url.Action("remeras")" >
        <img src="/Content/images/menu/remeraCamisa.gif" alt="" class="botonera">
    </a>
</div>