<div style="position:relative">

    <a href="@Url.Action("camperas")" >
        <img src="/Content/images/menu/CamperasMujerDerecha.gif" alt="Camperas" class="botoneraRight botonera">
    </a>

    <a href="@Url.Action("vestidos")" >
        <img src="/Content/images/menu/vestidos.jpg" alt="vestidos" class="botonera">
    </a>
    <a href="@Url.Action("pantalonescalzasshorts")" >
        <img src="/Content/images/menu/pantalonesshortsmujer.jpg" alt="Pantalones calzas y shorts" class="botonera">
    </a>
    <a href="@Url.Action("camisas")">
        <img src="/Content/images/menu/CamisasMujerMedio.jpg" alt="Camisas" class="botonera">
    </a>
    
@*    <a href="@Url.Action("abrigos")" >
        <img src="/Content/images/menu/abrigos.gif" alt="Abrigos con Wata" class="botonera">
    </a>*@

    <a href="@Url.Action("Remerasremerones")" >
        <img src="/Content/images/menu/remerasRemeronesMujerIzq.gif" alt="Remeras y remerones" class="botonera">
    </a>

</div>