<div style="position:relative">

    @*    <img src="/Content/images/botonera2.gif" alt="" class="botonera">*@
    @*    <a href="@Url.Action("camperas")" >
            <img src="/Content/images/menu/camperasbuzos.gif" alt="" class="botonera">
        </a>*@


    @*<a href="@Url.Action("camisas")">
        <img src="/Content/images/menu/camisaHombreSolo.jpg" alt="" class="botonera">
    </a>*@

    @*    <a href="@Url.Action("abrigos")" >
            <img src="/Content/images/menu/AbrigosHombres.jpg" alt="Abrigos con Wata" class="botonera">
        </a>*@

    <a href="@Url.Action("CamperasAbrigos")">
        <img src="/Content/images/menu/AbrigoCamperasMIniDerecha.gif" alt="" class="botoneraRight botonera">
    </a>
    <a href="@Url.Action("BodyEnteritos")">
        <img src="/Content/images/menu/BodyEnteritosIzq.gif" alt="" class="botonera">
    </a>

</div>