<div style="position:relative">
    @*//            NENA
    //1 - Remeras - Camisolas - 
        Campera rustica
    //2 - Vestidos - Soleros - Enteritos
    //3 - Calzas - Shorts*@
    @*<a href="@Url.Action("Camperas")" >
        <img src="/Content/images/menu/camperasbuzos.gif" alt="" class="botonera">
    </a>*@
    @*<a href="@Url.Action("Camisas")" >
        <img src="/Content/images/menu/camisasEnteritosMujer.gif" alt="" class="botoneraRight botonera">
    </a>*@

    <a href="@Url.Action("CamperasBuzos")">
        <img src="/Content/images/menu/CamperasMujerDerecha.gif" alt="Camperas" class="botoneraRight botonera">
    </a>

    @*<a href="@Url.Action("camperasbuzos")">
        <img src="/Content/images/menu/CamperasBuzoLARGEmedio.jpg" alt="" class="botoneraLarge botonera">
    </a>*@
    
    <a href="@Url.Action("calzas")" >
        <img src="/Content/images/menu/CalzaMujerMedio.jpg" alt="Calzas y shorts" class="botonera">
    </a>

    <a href="@Url.Action("vestidos")">
        <img src="/Content/images/menu/vestidosSolerosEnteritosMedio.jpg" alt="Vestidos, Soleros e Enteritos" class="botonera">
    </a>


    <a href="@Url.Action("remerascamisas")" >
        <img src="/Content/images/menu/remeraCamisolasMujerIzq.gif" alt="Remeras y camisolas" class="botonera">
    </a>
    
    
</div>