<div style="position:relative">

    @*<a href="@Url.Action("Camperas")" >
        <img src="/Content/images/menu/camperasbuzos.gif" alt="" class="botonera">
    </a>*@
    @*<a href="@Url.Action("Camisas")" >
        <img src="/Content/images/menu/camisasEnteritosMujer.gif" alt="" class="botoneraRight botonera">
    </a>*@

    <a href="@Url.Action("CamperasBuzos")">
        <img src="/Content/images/menu/CamperaBuzosMujerDer.gif" alt="Enteritos" class="botoneraRight botonera">
    </a>

    @*<a href="@Url.Action("camperasbuzos")">
        <img src="/Content/images/menu/CamperasBuzoLARGEmedio.jpg" alt="" class="botoneraLarge botonera">
    </a>*@
    
    <a href="@Url.Action("calzas")" >
        <img src="/Content/images/menu/CalzaMujerMedio.jpg" alt="Calzas" class="botonera">
    </a>

    <a href="@Url.Action("vestidos")">
        <img src="/Content/images/menu/vestidos.jpg" alt="Vestidos" class="botonera">
    </a>


    <a href="@Url.Action("remerascamisas")" >
        <img src="/Content/images/menu/remeraCamisa.gif" alt="Remeras y camisas" class="botonera">
    </a>
    
    
</div>