<div style="position:relative">

    @*<a href="@Url.Action("Camperas")" >
        <img src="/Content/images/menu/camperasbuzos.gif" alt="" class="botonera">
    </a>*@
    @*<a href="@Url.Action("Camisas")" >
        <img src="/Content/images/menu/camisasEnteritosMujer.gif" alt="" class="botoneraRight botonera">
    </a>*@

    <a href="@Url.Action("enteritos")">
        <img src="/Content/images/menu/enteritosDerecha.gif" alt="Enteritos" class="botoneraRight botonera">
    </a>

    @*<a href="@Url.Action("camperasbuzos")">
        <img src="/Content/images/menu/CamperasBuzoLARGEmedio.jpg" alt="" class="botoneraLarge botonera">
    </a>*@
    
    <a href="@Url.Action("calzasshorts")" >
        <img src="/Content/images/menu/calzasshorts.jpg" alt="Calzas y shorts" class="botonera">
    </a>

    <a href="@Url.Action("vestidossoleros")">
        <img src="/Content/images/menu/vestidos.jpg" alt="Vestidos y soleros" class="botonera">
    </a>


    <a href="@Url.Action("remerascamisas")" >
        <img src="/Content/images/menu/remeraCamisa.gif" alt="Remeras y camisas" class="botonera">
    </a>
    
    
</div>