<div style="position:relative">

    @*<a href="@Url.Action("Camperas")" >
        <img src="/Content/images/menu/camperasbuzos.gif" alt="" class="botonera">
    </a>*@
    @*<a href="@Url.Action("Camisas")" >
        <img src="/Content/images/menu/camisasEnteritosMujer.gif" alt="" class="botoneraRight botonera">
    </a>*@

    <a href="@Url.Action("abrigos")">
        <img src="/Content/images/menu/AbrigoNenaDerecha.gif" alt="Abrigos" class="botoneraRight botonera">
    </a>

    <a href="@Url.Action("camperasbuzos")">
        <img src="/Content/images/menu/CamperasBuzoLARGEmedio.jpg" alt="" class="botoneraLarge botonera">
    </a>
    
    <a href="@Url.Action("pantalonescalzas")" >
        <img src="/Content/images/menu/pantalonescalzas.jpg" alt="" class="botonera">
    </a>

    <a href="@Url.Action("vestidos")">
        <img src="/Content/images/menu/vestidos.jpg" alt="" class="botonera">
    </a>


    <a href="@Url.Action("remerascamisas")" >
        <img src="/Content/images/menu/remeraCamisa.gif" alt="" class="botonera">
    </a>
    
    
</div>