@using MvcApplication2.Resource;
@using MvcApplication2.Models;

@model List<Clouth>
    @{
        ViewBag.Title = "";
    }


    @section PageScripts{
        <script type="text/javascript">
            jQuery(document).ready(function () {
                var view = new Views.BaseModel();
            });
        </script>
    }

    @{
        Html.RenderPartial("Botonera", null);
    }

    <div style="clear:both; padding-top:10px">
        <span class="clouthpage-title">@ViewBag.TitleName</span>
    </div>
    <div id="content_container">
        <div id="productos_container">
            @foreach (Clouth item in Model)
            {
                <div class="producto_container" style="">
                    <a rel="example_group" href="@item.getHighImgPath()" title="@item.Description" data-hyalcore="" data-hyalcore-id="@item.Id.ToString()">
                        <img src="@item.getLowImgPath()" alt="" class="foto">
                        <h2>@item.ShortDescription</h2>
                        <div class="codigo">Art. 	@item.Id.ToString()</div>
                    </a>
                </div>
            }
        </div>
    </div>
